<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Snake</string>
	<key>CFBundleName</key>
	<string>Snake</string>
	<key>CFBundleDisplayName</key>
	<string>Snake</string>
	<key>CFBundleIconFile</key>
	<string>snake.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.eiberham.snake</string>
	<key>CFBundleLocalizations</key>
	<string>en</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSpokenName</key>
	<string>Snake</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2022 Abraham Cedeno</string>
	<key>CFBundleVersion</key>
	<string>0.1.0</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.13.0</string>
	<true/>
</dict>
</plist>